# URL de l'API backend
VITE_API_URL=http://localhost:8000/api

# Firebase sync (optionnel si l'auth anonyme est désactivée)
VITE_FIREBASE_SYNC_EMAIL=mamyrandria2105@gmail.com
VITE_FIREBASE_SYNC_PASSWORD=fenohasina2105
